<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.youedata.cd.industries.dao.excel.FailedChangeinfoDao" >
  <resultMap id="BaseResultMap" type="com.youedata.cd.industries.dto.excel.ChangeRecruitmentUpdatesDto" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="enterprise_name" property="enterpriseName" jdbcType="VARCHAR" />
    <result column="change_date" property="changeDate" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="log_id" property="logId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="enterpriseName != null" >
         and enterprise_name = #{enterpriseName}
      </if>
      <if test="changeDate != null" >
         and change_date = #{changeDate}
      </if>
      <if test="address != null" >
         and address = #{address}
      </if>
      <if test="logId != null" >
         and log_id = #{logId}
      </if>
    </trim>
  </sql>
  <sql id="Base_Column_List" >
    id, enterprise_name AS enterpriseName, change_date AS changeDate, address, log_id AS logId
  </sql>
  <resultMap  id="ResultMapWithBLOBs" type="com.youedata.cd.industries.dto.excel.ChangeRecruitmentUpdatesDto" extends="BaseResultMap" />
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_failed_changeinfo
    where id = #{id}
  </select>
  <update id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    update t_failed_changeinfo set is_deleted = 1 
    where id = #{id}
  </update>
  <insert id="insert" parameterType="com.youedata.cd.industries.dto.excel.ChangeRecruitmentUpdatesDto" >
    <selectKey resultType="java.lang.Long" keyProperty="id" >
       <![CDATA[SELECT LAST_INSERT_ID() AS ID ]]>
    </selectKey>
    insert into t_failed_changeinfo (enterprise_name, change_date, address, log_id)
    values (#{enterpriseName}, #{changeDate}, #{address}, #{logId})
  </insert>
  <insert id="insertSelective" parameterType="com.youedata.cd.industries.dto.excel.ChangeRecruitmentUpdatesDto" >
    <selectKey resultType="java.lang.Long" keyProperty="id" >
       <![CDATA[SELECT LAST_INSERT_ID() AS ID ]]>
    </selectKey>
    insert into t_failed_changeinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      <if test="enterpriseName != null" >
        enterprise_name,
      </if>
      <if test="changeDate != null" >
        change_date,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="logId != null" >
        log_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id},
      <if test="enterpriseName != null" >
        #{enterpriseName},
      </if>
      <if test="changeDate != null" >
        #{changeDate},
      </if>
      <if test="address != null" >
        #{address},
      </if>
      <if test="logId != null" >
        #{logId},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.youedata.cd.industries.dto.excel.ChangeRecruitmentUpdatesDto" >
    update t_failed_changeinfo
    <set >
      <if test="enterpriseName != null" >
        enterprise_name = #{enterpriseName},
      </if>
      <if test="changeDate != null" >
        change_date = #{changeDate},
      </if>
      <if test="address != null" >
        address = #{address},
      </if>
      <if test="logId != null" >
        log_id = #{logId},
      </if>
    </set>
    where id = #{id}
  </update>
  <select id="selectPage" resultMap="BaseResultMap" parameterType="com.youedata.cd.industries.dto.excel.ChangeRecruitmentUpdatesDto" >
    select 
    <include refid="Base_Column_List" />
    from t_failed_changeinfo
	<include refid="Example_Where_Clause" />
	<include refid="common.Order_Type" />
	<include refid="common.Mysql_Pagination_Limit" />
  </select>
  <select id="selectCount" resultType="java.lang.Long" parameterType="com.youedata.cd.industries.dto.excel.ChangeRecruitmentUpdatesDto" >
    select count(id) from t_failed_changeinfo
	<include refid="Example_Where_Clause" />
  </select>
  <select id="selectByMapPage" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from t_failed_changeinfo
	<include refid="Example_Where_Clause" />
	<include refid="common.Order_Type" />
	<include refid="common.Mysql_Pagination_Limit" />
  </select>
  <select id="selectByMapCount" resultType="java.lang.Long" parameterType="java.util.Map" >
    select count(id) from t_failed_changeinfo
	<include refid="Example_Where_Clause" />
  </select>
  <insert id="batchInsert" parameterType="java.util.List" >
    <selectKey resultType="java.lang.Long" keyProperty="id" >
       <![CDATA[SELECT LAST_INSERT_ID() AS ID ]]>
    </selectKey>
    insert into t_failed_changeinfo (enterprise_name, 
      change_date, address, log_id)
    values 
 <foreach collection="list" item="item" index="index" separator="," >   
(#{item.enterpriseName}, 
      #{item.changeDate}, #{item.address}, #{item.logId})
 </foreach> 
  </insert>
  <update id="batchDelete" parameterType="java.util.List" >
    UPDATE  t_failed_changeinfo set is_deleted = 1 WHERE id IN 
	<foreach collection="list" item="ids"  open="(" separator="," close=")">     
		#{ids}
	</foreach>
  </update>
  <select id="selectAll" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from t_failed_changeinfo
	where is_deleted = 0
  </select>
  <select id="selectAllCount" resultType="java.lang.Long" >
    select count(id) from t_failed_changeinfo
	 where is_deleted=0
  </select>
  <select id="selectFailedChangeinfoByLogId"  parameterType="int"  resultType="com.youedata.cd.industries.dto.excel.ChangeRecruitmentUpdatesDto" >
    select enterprise_name name,change_date date,address address,error_column errorColumn from t_failed_changeinfo
	WHERE log_id = #{id}
  </select>
</mapper>